#container {
    width: 704px;
    height: 700px;
    text-align: justify;
    background-color: #fff;
    margin: auto;
}
body {
    background-color: #cccccc;
    font-family: Verdana;
    font-size: 11px;
}
p:first-letter{
    color: blue;
    font-weight: bold;
    font-size: 38px;
    font-family: "Times New Roman";
}
#content h3 {
    padding: 0 0 10px 10px;
    margin: 0;
}
#header {
    height: 50px;
    background-color: #b0b0b0;
}
#header h1 {
    padding: 10px 0 0 40px;
}

ul {
    margin: 0;
    padding: 0;
    width: 720px;
    list-style: none;
    text-transform: uppercase;
}
li {
    display: inline;
    float: left;
}
a {
    padding: 0 10px 0 10px;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    float: left;
    display: block;
}
.bg_nav {
    background-image: url(images/nb.gif);
    background-repeat: repeat-x;
    height: 40px;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}
a:visited {
    color: #333; text-decoration: none;
}
a:hover {
    color: #333; font-weight: bold; text-decoration: underline;
}
a:active {
    color: black; font-weight: bold; text-decoration: underline;
}